.toggle {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.toggle-cb {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle-label {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: background-color 0.2s;
    border-radius: 34px;
}

.toggle-label .toggle-inner {
    position: absolute;
    left: 4px;
    right: 4px;
    top: 4px;
    bottom: 4px;
    background-color: white;
    transition: transform 0.2s;
    border-radius: 34px;
}

.toggle-label .toggle-switch {
    position: absolute;
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: transform 0.2s;
    border-radius: 50%;
}

.toggle-cb:checked + .toggle-label {
    background-color: #2196F3;
}

.toggle-cb:checked + .toggle-label .toggle-switch {
    transform: translateX(26px);
}